#pre-footer {
  background: transparent linear-gradient(90deg, var(--unnamed-color-33bf54) 0%, #38D6AC 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #33BF54 0%, #38D6AC 100%) 0% 0% no-repeat padding-box;
  height: 15px;
}

#footer {
  background: transparent linear-gradient(180deg, var(--unnamed-color-ffffff) 0%, #F5F5F5 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #F5F5F5 100%) 0% 0% no-repeat padding-box;
  color: #989898;
  padding-top: 60px;
  padding-bottom: 30px;
}

#footer h2 {
  color: #596E8D;
  font-size: 24px;
}

#footer i {
  color: #33BF54;
}

#footer a {
  color: #337ab7;
  text-decoration: none;
  font-size: 15px;
}

#footer p {
  margin: 0 0 8px;
}

.form-group {
  margin-bottom: 0px;
}

.contactanos {
  margin-top: 10px;
}

.footer-logo {
  display: block;
  max-width: 80%;
  height: auto;
}

.color-listopro p {
  color: #33BF54;
  padding-top: 7px;
}

.visible-sm, .visible-xs {
  display: none!important;
}

#footer .row {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media only screen and (max-width: 768px) {
  #footer {
    text-align: center;
    color: #989898;
  }

  .footer-logo {
    height: 40px;
    display: inline;
    margin-bottom: 0px;
  }

  img {
    vertical-align: middle;
    border: 0;
  }

  .hidden-sm {
    display: none!important;
  }

  .visible-xs {
    display: block!important;
  }
}
